{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center mb-3">Hello, This is Django Quiz Session</h1>
    {% if latest_question %}
        {% for items in latest_question %}
        <div class="card mb-3">
            <div class="card-body">
                <p class="lead">{{items.question_text}}</p>
                <a href ="{% url 'QuizApp:detail' question.id %}" class ="btn btn-primary btn-sm">Ans Now</a> 
                <a href ="{% url 'QuizApp:results' question.id %}" class ="btn btn-secondary btn-sm">Results</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Cancellation of quiz question</p>
    {% endif %}
    
{% endblock %}
